.home
{
    max-width: 100%;
}

.cardss
{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.home-mainbody
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart
{
    flex: 1;
    overflow: auto;
}
.tablee
{
    flex: 4;
}